<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Model.Properties.Settings.tuvannetviet_comConnectionString"
       connectionString="Data Source=45.27.154.133,5171;Initial Catalog=nidushealth.com;Persist Security Info=True;User ID=sa;Password=Perfect123"
       providerName="System.Data.SqlClient" />
    <add name="Pet2ShareEntities" connectionString="metadata=res://*/DAL.BaseDBModel.csdl|res://*/DAL.BaseDBModel.ssdl|res://*/DAL.BaseDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.7,5171;initial catalog=Pet2Share;user id=sa;password=Perfect123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          -->
    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
    <!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
    <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
    <services>
      <service name="Pet2Share_Service.Service_Main" behaviorConfiguration="BehConfig">
        <endpoint address="" binding="webHttpBinding"
                contract="Pet2Share_Service.IService_Main" behaviorConfiguration="web">
        </endpoint>
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehConfig">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
